.task{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(219, 238, 255);
    box-shadow:rgb(0, 0, 0,0.16) 0px 1px 4px;
    border-radius: 5px;
    width: 93%;
    padding: 20px;
    gap: 20px;
    touch-action: none;
}

.checkbox{
    height: 20px;
    width: 20px;
}