.app{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.dragarea{
  width: 800px;
  height: 400px;
  background-color: antiquewhite;
}